html {
	background-image: url("tile.webp");
}

body {
	background-color: black;
	color: #fffaff;
	font-family: nimbus roman, serif;
	padding: 20px;
	margin: auto;
	margin-top: 20px;	
	border: 2px solid 	#800080;
	width: 89%;
	max-width: 900px;
	text-align: left;
}
hr {
	border-color: #fffaff;
}
ul {
	padding-left: 30px;
}

.date {
	text-align: center;
	font-size: 18px;
}

a {
	color: 	#800080;
	text-decoration: none;
}

a:hover {
	color: #c99747;
}

img {
	float: center;
	display: block;
	margin: auto;
}

h1 {
	color: 	#c99747;
	font-size: 40px;
	text-align: center;
	line-height: 90%;
}
h2 {
	color: 	#c99747;
}

h3 {
	margin-top: 0px;
	line-height: 80%;
}

p, li {
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
}

hr {
	margin: 0px;
	border-style: solid;
	border-color: 	#800080;
	background-color: #b3e0ff;
}

.icon {
	float: left;
	height: 35px;
	margin-right: 10px;
}

.b-icon {
	margin: auto;
	display: inline-block;
	text-align: center;
	height: 35px;
}

.pane-right {
	display: inline-block;
	float: right;
	width: 49%;
}

.pane-left {
	display: inline-block;
	float: left;
	margin: auto;
	width: 49%;
}

.pane-left li {
	margin: 10px 0px 10px 0px;
}

.pane-right li {
	margin-left: 0px;
}

@media only screen and (max-width: 768px) {
.pane-right {
	width: 100%;
}
.pane-left {
	width: 100%;
}

body {
	width: 85%;
	margin-top: 1.2em;
	margin-bottom: 10px;
}
}

.clear:after {
	content: "";
	display: table;
	clear: both;
}

